#noop {
    display: none;
}
body {
  background-color: cadetblue;
  margin: 0;
}
.hover {
  display: none;
}
.nickname:hover {
  cursor: pointer;
}
.nickname:hover .hover {
  display: contents;
}
.modal{
  display: none;
  padding: 4rem;
  background-color: darkslategrey;
}
.madal_active {
  display: block;
}
header {
    opacity: 0;
    animation: ani 2.5s forwards;
    color: rgb(207, 207, 207);
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .line {
    height: 1px;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 10px;
    background-color: #e9ecef;
  }
  .text-justify {
    text-align: justify;
  }
  
  .main-img {
    width: 200px;
  }

  .contacts {
    display: flex;
  }
  
  .contacts-bg{
    background: url(../img/contacts-bg.jpg) no-repeat center;
    background-size: cover;
  }
  
  .contacts__forms {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    position: relative;
    border-radius: 10px;
  }
  
  .contacts__title{
    color: #333;
    font-size: 30px;
    letter-spacing: 0.05em;
    line-height: 47px;
    position: relative;
    margin-bottom: 50px;
  }
  
  .contacts__btn{
    background: white;
    color: #6c757d;
    padding: 17px 60px;
    margin-bottom: 20px;
    font-size: 13px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

  }
  
  .contacts__btn:hover{
    background-color: #6c757d;
    color: wheat;
  }
  